@import "../../../public/assets/styles/_variables/colors";

.fx {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
  .pane {
    background-color: #131722;
    width: 75%;
    .tradingview {
      height: 600px;
      width: 100%;
      box-sizing: border-box;
      background-color: #131722;
    }
    .orders {
      color: #d1d4dc;
      background-color: #131722;
      border: 0.1px solid transparentize(#d9dadb, 0.75);
      padding: 8px;
    }
  }
}
