$header-logo-size: 7rem;
$header-logo-size-mobile-large: 5rem;
$header-logo-size-mobile-small: 7vw;

$header-logo-spacing: 2.5rem;
$header-logo-spacing-mobile-large: 2rem;
$header-logo-spacing-mobile-small: 2vw;

$header-title-font: 6rem;
$header-title-font-desktop-small: 5rem;
$header-title-font-mobile-large: 5vw;
$header-title-font-mobile-small: 5vw;

$header-subtitle-font: 2.5rem;
$header-subtitle-font-desktop-small: 2rem;
$header-subtitle-font-mobile-large: 2vw;
$header-subtitle-font-mobile-small: 2vw;

$header-menu-font: 2rem;
$header-dropdown-item-font: 2rem;

$tab-title-font-size: 4.4rem;
$tab-title-font-size-mobile-large: 3.2rem;
$tab-title-font-size-mobile-small: 5.2vw;

$tab-title-icon-size: 3.6rem;
$tab-title-icon-size-mobile-large: 2.4rem;
$tab-title-icon-size-mobile-small: 3.6vw;

$section-title-font-size: 3.2rem;
$section-title-font-size-mobile-large: 2.4rem;
$section-title-font-size-mobile-small: 4.4vw;

$section-title-icon-size: 3rem;
$section-title-icon-size-mobile-large: 2.4rem;
$section-title-icon-size-mobile-small: 5vw;

$section-text-font-size: 2.4rem;
$section-text-font-size-mobile-large: 1.8rem;
$section-text-font-size-mobile-small: 3.4vw;

$card-sub-title-font-size: 2.4rem;
$card-sub-title-font-size-mobile-large: 1.8rem;
$card-sub-title-font-size-mobile-small: 3.4vw;

$card-text-font-size: 2.2rem;
$card-text-font-size-mobile-large: 1.8rem;
$card-text-font-size-mobile-small: 3.8vw;

$tab: 2.2rem;
$tab-mobile-large: 1.8rem;
$tab-mobile-small: 1.2rem;
$tab-double: 4.4rem;
$tab-double-mobile-large: 3.6rem;
$tab-double-mobile-small: 2.4rem;
$tab-triple: 6.6rem;
$tab-triple-mobile-large: 5.4rem;
$tab-triple-mobile-small: 3.6rem;
$tab-quadruple: 8.8rem;
$tab-quadruple-mobile-large: 7.2rem;
$tab-quadruple-mobile-small: 4.8rem;
